header {

  .header__a {
    text-decoration: none;
  }

  .header__button {
    background-color: transparent;
    border: none;
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__ul {}


  .header__li {
    list-style: none;
  }
}

@media screen and (max-width:480px) {
  header {
    flex-flow: column;

    .header__button {
      display: flex;
      margin-left: 20rem;
      margin-top: -5rem;
    }

    .header__nav {
      width: 100%;
      display: none;
      justify-content: center;
      flex-flow: column nowrap;
      align-items: center;

      &--activo {
        display: flex;
      }
    }
  }

}