footer {
    background-color: #2B2D37;
    margin: 0;
    height: 100px;
}

p {
    margin-top: 0px;
    display: flex;
    text-align: center;
    color: white;
    display: block;
}

#disney {
    margin-left: 1400px;
    display: flex;
    text-decoration: white;
    max-width: 100px;
}
#home {
    margin-left: 1400px;
    text-decoration: white;
}
