footer {
    background-color: #2B2D37;
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

p {
    margin-left: 10%;
    color: white;
}

#disney {
    margin-left: 60%;
    text-decoration: white;
    max-width: 100px;
}
#home {
    margin-left: 1400px;
    text-decoration: white;
}
