img{
    display: grid;
    height: 260px;
    width: 202.5px;
    padding: 10px;
    grid-gap: 10px;
    grid-template-rows: repeat(auto-fill);
    float:left;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
  
}