@import '../../../../fonts.css';

.dfheader {
  margin-left: 20px;
}

.dfheader__title {
  font-family: 'Waltograph42', sans-serif;
  font-size: 60px;
}

.dfheader__subtitle {
  font-family: 'Waltograph42', sans-serif;
  font-size: 30px;
}
