.background {
  background-image: url('../src/assets/images/mikey.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  p {
    height: 10px;
    background-color: #0081CB;
    margin-left: 5px;
  }

}
