body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #01040E 7.79%, 
    #141F3F 36.91%, #38497B 63.48%, rgba(43, 45, 55, 0.963542) 100%);
    header{
        .logo{
        display: flex;
    }

        .logo img{
       height: 30px;
    }
        
    }
    


}

