<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamsFactory</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="./assets/images/logo.png" alt="DF">      
        </div> 
        <div class="logo">
            <img src="./assets/images/logo-2.png" alt="Dreams Factory">
        </div>      
    </header>
    <app-menu-hamb></app-menu-hamb>
    <app-banner></app-banner>
</body>
</html>
