<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamsFactory</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="./assets/images/logo.png" alt="DF">      
        </div> 
        <div class="logo">
            <img src="./assets/images/logo-2.png" alt="Dreams Factory">
        </div>
        <button id="boton-hamburguesa">
            <span>&#9776;</span>
          </button>
        <div class="menu-nav">      
            <nav class="nav-menu">
                <ul>
                    <li><a href="./src/app/characters/views/home/home.component.html">HOME</a></li>
                    <li><a href="#">FAVORITES</a></li>
                    <img src="./assets/images/speakerwhite" alt="">    
                </ul>

            </nav>   
        </div>
    </header>

    <main>

    </main>

    <app-banner></app-banner>
</body>
</html>
