<body>
    <header>
        <app-header></app-header>
    </header>
    <main>
        <div class="favorites">
            <h2>Favorites</h2>
            <app-favorites-image-container></app-favorites-image-container>
        </div>
        <div class="addforyou">
            <h2>Add for you</h2>
            <button (click)="toggleForm()" id="buttonadd"></button>
            <form [hidden]="!formularioVisible">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required><br>
              <label for="tvshows">Tv Shows:</label>
              <input type="text" id="tvshows" name="tvshows" required><br>
              <label for="films">Films:</label>
              <input type="text" id="films" name="films" required><br> 
              <label for="videogames">Videogames:</label>
              <input type="text" id="videogames" name="videogames" required><br>
              <label for="image">Image:</label>
              <input type="file" id="image" name="image"><br>             
              <button type="submit">Submit</button>
            </form>
            
            <app-addforyou-image-container></app-addforyou-image-container>
        </div>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>


