
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dreams-factory-primary: mat.define-palette(mat.$indigo-palette);
$dreams-factory-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dreams-factory-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dreams-factory-theme: mat.define-light-theme((
  color: (
    primary: $dreams-factory-primary,
    accent: $dreams-factory-accent,
    warn: $dreams-factory-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dreams-factory-theme);

header{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(180deg, #01040E 7.79%,#141F3F 36.91%, #38497B 63.48%, rgba(43, 45, 55, 0.963542) 100%);   
    background-repeat: no-repeat;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
